.images-container {
    display:flex;
    flex-direction:column;
    margin-left:5rem;
    width:50%;
    height:max-content;
    position:absolute;
    padding-bottom:5rem;
}

.photo-examples {
    display:flex;
    flex-direction:row;
    height:100%;
    justify-content: space-between;
}

.photo {
    max-width:30%;
    border-radius:1rem;
}

.placement-column {
    display:flex;
    flex-direction:column;
}