<div class="images-container">
    <h1>Images</h1>
    <p>
        Images convey brand style. 
        The choice of filters, brightness, saturation, and contrast can impact how the viewer percieves Radish.
        <br>
        <br>
        There are also different types of imagery. Graphics, icons, profile-pictures, 3D renders, and regular photos.
        <br>
        <br>
        This article will mainly focus on graphics/restaurant logos, and photos.
    </p>

    <h3>Style/Demo</h3>
    <h4>Photos</h4>
    <p>
        It is important to get appropriate images from the client when displaying products.
        <br>
        <br>
        The optimal product image is high resolution with a good showcase of the product. Ideally multiple images should be displayed for a single product.
        <br>
        <br>
        Photos on the same page/component should be the same size and style.
    </p>
    <div class="photo-examples">
        <img src="../../../../assets/pizza-image.jpeg" class="photo">
        <img src="../../../../assets/pizza-image.jpeg" class="photo">
        <img src="../../../../assets/pizza-image.jpeg" class="photo">
    </div>
    <p>(Photos should also have rounded edges)</p>

    <h4>Graphics</h4>
    <p>
        Graphics are used to catch the viewer's eye and draw them in.
        <br>
        <br>
        Each restaurant brand has its own logo. These should be presented to echo the restaurant's brand.
        <br>
        <br>
        Graphic style should be consistent within a brand page.
        <br>
        <br>
        Ex. Thai Express brand design:
        <img src="../../../../assets/thai-express-example.png">
        <br>
        The logo colours are present throughout the design of the thai express homepage.
        <br>
        <br>
        The logo is high-resolution and centered.
    </p>


    <!-- <p>- BRAND: get appropriate images from client (high quality, showcase product nicely), make sure images are RELEVANT</p>
    <p>- STYLE: consistent sizing/style for images on the same page/components (crop/resize to fit)</p> -->

    <h3>Size</h3>
    <p>
        Ideally, photos should be high resolution so that they can be scaled up or down easily. (500kB-1MB for a large image, smaller images can be 300kB or less)
        <br>
        <br>
        PNGs are ideal for logos/graphics because they allow for transparent backgrounds, while JPEGs are best for regular photos.
    </p>

    <h3>Typography</h3>
    <p>
        Alternative text is important for accessibility, as well as providing info if an image source is missing.
        <br>
        <br>
        In addition, captions are also useful. Images should be placed beside applicable text.
        <br>
        <br>
        Adding captions/alt text can improve the SEO ranking of a site. Naming image files relevantly will also improve SEO scores (i.e. hamburger-with-fries.jpeg vs 48dsj459dh.jpeg)
    </p>
    <div class="photo-examples">
        <img src="../../../../assets/pizza-image.jpeg" class="photo" alt="Pizza with olives and basil">
        <img src="../../../../assets/pizza-image.jpeg" class="photo" alt="Pizza with olives and basil">
        <img src="nothing-here" class="photo" alt="Pizza with olives and basil">
    </div>
    

    <h3>Placement</h3>

    <p>
        Sources: 
        <br>
        https://technians.com/blog/images-for-web-design/
        <br>
        https://susannerieker.com/ultimate-guide-using-images-website/
        <br>
        https://www.searchmetrics.com/glossary/rankings/#:~:text=Rankings%20in%20SEO%20refers%20to,backlinks%20pointing%20to%20the%20page.
    </p>
</div>