<div class="radio-checkbox-toggle-container">
    <h1>Radio Buttons, Checkboxes, and Toggle Buttons</h1>
    <p>
        Each of these components is integral to allowing users to select options and make adjustments to settings or features.
    </p>
    <h3>Demo</h3>
    <p>Below are demos of each component.</p>

    <div class="demos">
        <div class="column">
            <h4>Radio Button</h4>
            <input type="radio" class="radio-button">
            <p>Radio buttons are used when only one option may be picked.</p>
        </div>

        <div class="column">
            <h4>Checkbox</h4>
            <input type="checkbox" class="checkbox">
            <p>Checkboxes are used when multiple options may be selected.</p>
        </div>

        <div class="column">
            <h4>Toggle Button</h4>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <p>Toggle buttons are used when a setting must be set to one of two states.</p>
        </div>
    </div>

    <h3>Size</h3>
    <p>The inputs should be appropriately sized within the context of the text beside the submissions.</p>

    <h3>Placement</h3>
    <p>Shown below are some examples of checkboxes, radio buttons, and toggle switches on the radish site.</p>
    <img src="../../../../assets/radio-check-example.png" class="example-image">
    <br>
    <br>
    <img src="../../../../assets/toggle-example.png" class="example-image">
</div>