.navbar {
    background: var(--nav-bar);
    padding:1rem;
    width:98.5%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.title-logo {
  display: flex;
  flex-direction:row;
}

.logo {
  height:3rem;
  margin-right:1rem;
  background-color:#FFFFFF;
  padding:0.25rem;
  border-radius:0.5rem;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .title {
    margin-top:0.25rem;
    margin-bottom:0;
  }