<div class="spacing-container">
    <h1>Spacing</h1>
    <p>
        Spacing is important to give elements room to breathe on a website page. 
        Spacing creates a hierarchy of information that relays importance to the user. 
    </p>
    <div class="proximity-law">
        <h3>Law of Proximity</h3>
        <p>
            1. Related elements should be spaced closer together. Conversely, unrelated elements should be spaced further apart.
            <br>
            <br>
            2. Elements of the same “type” should be spaced evenly apart.</p>
        </div>
    <h3>Point Grids</h3>
    <p>
        The 8pt grid is used in most design to space elements. Some multiples of 4pt are also acceptable.
        <br>
        <br>
        It is best practise to use rem instead of pixels due to its responsiveness.
        <br>
        The conversion rate between pixels and rem is <b>16px = 0.5rem</b>
        <br>
        <br>
        Below are some visualizations of the size and type of spacing.
    </p>
    <div class="block-container">
        <div class="pt4"></div>
        <p>4pt / 0.25rem</p>
    </div>
    <div class="block-container">
        <div class="pt8"></div>
        <p>8pt / 0.5rem</p>
    </div>
    <div class="block-container">
        <div class="pt12"></div>
        <p>12pt / 0.75rem</p>
    </div>
    <div class="block-container">
        <div class="pt16"></div>
        <p>16pt / 1rem</p>
    </div>
    <div class="block-container">
        <div class="pt24"></div>
        <p>24pt / 1.5rem</p>
    </div>
    <div class="block-container">
        <div class="pt32"></div>
        <p>32pt / 2rem</p>
    </div>
    <div class="block-container">
        <div class="pt64"></div>
        <p>64pt / 4rem</p>
    </div>
    <div class="block-container">
        <div class="pt72"></div>
        <p>72pt / 4.5rem</p>
    </div>
    <div class="block-container">
        <div class="pt128"></div>
        <p>128pt / 8rem</p>
    </div>

    <h3>Conclusions</h3>
    <p>
        Spacing is a practise of intuition - most of the time it's best to use a spacing that you feel looks and feels best.
        <br>
        <br>
       *More examples of spacing will be updated on this article*
        <br>
        <a href="https://uxdesign.cc/ui-cheat-sheet-spacing-friendships-e37a6fccc407">RESOURCE</a>
    </p>
</div> 