<div class="voice-container">
    <h1>Voice</h1>
    <p>
        This page requires a consultation with Radish brand managers to define how the Radish brand should present itself
        to consumers.
        Below are some suggestions based on my own observations and experience with the Radish brand:
    </p>
    <h3>Demo</h3>
    <p>- Sustainability and ethics-based purchasing</p>
    <p>- personable brand ambassadors (tiktok) - do we want to create a rapport with our consumers?</p>
    <p>- personality is bright, upbeat</p>
    <p>- want to promote high quality local restaurants</p>
</div>