.main {
    position:fixed;
    display:flex;
    flex-direction:row;
    height:max-content;
    width:100%;
    height:100%;
}

.main-content {
    display:flex;
    height:90%;
    width:100%;
    overflow:auto;
    position:relative;
}

.temp-sidenav {
    display:flex;
}