<div class="navigation-container">
	<a href="component1" class="list-element">Accordion</a>
	<a href="component2" class="list-element">Alert</a>
	<a href="component3" class="list-element">Buttons</a>
	<a href="component4" class="list-element">Breadcrumbs</a>
	<a href="component5" class="list-element">Card</a>
	<a href="component6" class="list-element">Carousel</a>
	<a href="component7" class="list-element">Charts/Graphs</a>
	<a href="component8" class="list-element">Data Table</a>
	<a href="component9" class="list-element">Date Picker</a>
	<a href="component9" class="list-element">Dropdown</a>
	<a href="component9" class="list-element">File Upload</a>
	<a href="component9" class="list-element">Form</a>
	<a href="component9" class="list-element">Inputs</a>
	<a href="component9" class="list-element">Login Page</a>
	<a href="component9" class="list-element">Modal</a>
	<a href="component9" class="list-element">Navigation Bar/Vertical Nav</a>
	<a href="component9" class="list-element">Pagination</a>
	<a href="component9" class="list-element">Pills/Badges/Tags</a>
	<a href="component9" class="list-element">Placeholder</a>
	<a href="component9" class="list-element">Range Slider</a>
	<a href="component9" class="list-element">Radio Buttons/Checkboxes/Toggle Switches</a>
	<a href="component9" class="list-element">Search Bar</a>
	<a href="component9" class="list-element">Spinner</a>
	<a href="component9" class="list-element">Tooltip/Popover</a>
</div>