<div class="button-container">
    <h1>Button</h1>
    <p>
        buttons are useful for delivering large amounts of content in small spaces.
        They include header titles that indicate what content is contained within.
    </p>
    <p>
        buttons hide information from users and should thus not be used for displaying essential information.
        The best place to use an button is when a page needs to be shortened to reduce scrolling.
        Often buttons are applied to mobile interfaces when white space is in short supply.
    </p>
    <h3>Demo</h3>
    <h4>Solid Button</h4>
    <button class="solid">
        <strong>Solid</strong>
    </button>
    <br>
    <h4>Outline Button</h4>
    <button class="outline">
        <strong>Outline</strong>
    </button>
    <br>
    <h4>Flat Button</h4>
    <button class="flat">
        <strong>Flat</strong>
    </button>
    <br>
    <h4>Grouped Buttons</h4>
    <div class="grouped-buttons">
        <button [ngClass]="button1 == true ? 'active' : 'inactive'" (click)="setButtonOne()">
            <strong>Button1</strong>
        </button>
        <button [ngClass]="button2 == true ? 'active' : 'inactive'" (click)="setButtonTwo()">
            <strong>Button2</strong>
        </button>
        <button [ngClass]="button3 == true ? 'active' : 'inactive'" (click)="setButtonThree()">
            <strong>Button3</strong>
        </button>
    </div>
</div>