.button-container {
    display:flex;
    flex-direction:column;
    margin-left:5rem;
    max-width:50%;
    height:max-content;
}

.solid {
    border-radius: 0.7rem;
    border: none;
    background-color: #000000;
    color: white;
    padding: 1rem;
    width: 10rem;
    font-size: medium;
}

.solid:hover {
    background-color: #CBCBCB;
}

.solid:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 0.2rem #6C6C6C;
    transform: translateY(4px);
  }
