.button-container {
    display:flex;
    flex-direction:column;
    margin-left:5rem;
    width:50%;
    height:max-content;
    position:absolute;
    padding-bottom:5rem;
}

.buttons {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/* SOLID BUTTONS */
.solid {
    border-radius: 1rem;
    border: none;
    background-color: var(--inverse-background);
    color: var(--background-color);
    padding: 1rem;
    padding-right:3rem;
    padding-left:3rem;
    width:fit-content;
    font-size: medium;
}

.solid:hover {
    background-color: var(--color-option-5);
    cursor:pointer;
}

.solid:active {
    transform: translateY(0.25rem);
}

/* OUTLINE BUTTONS */
.outline {
    border-radius: 1rem;
    border: 0.25rem solid var(--inverse-background);
    background-color: var(--background-color);
    color: var(--inverse-background);
    padding: 1rem;
    padding-right:3rem;
    padding-left:3rem;
    width:fit-content;
    font-size: medium;
}

.outline:hover {
    background-color: var(--color-option-1);
    cursor:pointer;
}

.outline:active {
    transform: translateY(0.25rem);
}

/* FLAT BUTTONS */
.flat {
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    color: var(--inverse-background);
    width:fit-content;
    font-size: medium;
}

.flat:hover {
    color: var(--color-option-4);
    cursor:pointer;
}

/* GROUPED BUTTONS */
.grouped-buttons {
    align-content: space-between;
    background-color: var(--color-option-1);
    width: fit-content;
    border-radius: 1rem;
}

.inactive {
    border-radius: 1rem;
    border: none;
    color: var(--inverse-background);
    padding: 1rem;
    padding-left:3rem;
    padding-right:3rem;
    font-size: medium;
    margin: 1rem;
    background-color: transparent;
}

.inactive:hover {
    background-color: var(--color-option-2);
}

.inactive:active {
    transform: translateY(0.25rem);
}

.active {
    border-radius: 1rem;
    border: none;
    background-color: var(--inverse-background);
    padding: 1rem;
    padding-left:3rem;
    padding-right:3rem;
    font-size: medium;
    margin: 1rem;
    color: var(--background-color);
}

.example {
    display:flex;
    flex-direction:row;
    max-width:100%;
    position:relative
}

.example-image {
    border-radius:1rem;
    border: 0.1rem solid #181818;
    width:50%;
    margin-right:1rem;
}