<div class="button-container">
    <h1>Button</h1>
    <p>
        Buttons are used in every application as a submission tool for users.
    </p>
    <h3>Demo</h3>
    <button class="solid">
        <strong>Solid Button</strong>
    </button>
    <p>
        Solid buttons look heavy and are used for primary actions.
        <br>
        They direct the user's attention to the suggested action.
    </p>
    <br>
    <button class="outline">
        <strong>Outline Button</strong>
    </button>
    <p>
        Outline buttons are used for secondary actions.
        <br>
        They reduce visual noise on the page.
    </p>
    <br>
    <button class="flat">
        <strong>Flat Button</strong>
    </button>
    <p>
        Flat buttons are used for tertiary actions.
        <br>
        They can be used inline, in navigation features, and more.
    </p>
    <h4>Grouped Buttons</h4>
    <div class="grouped-buttons">
        <button [ngClass]="button1 == true ? 'active' : 'inactive'" (click)="setButtonOne()">
            <strong>Button1</strong>
        </button>
        <button [ngClass]="button2 == true ? 'active' : 'inactive'" (click)="setButtonTwo()">
            <strong>Button2</strong>
        </button>
        <button [ngClass]="button3 == true ? 'active' : 'inactive'" (click)="setButtonThree()">
            <strong>Button3</strong>
        </button>
    </div>
    <p>
        Grouped buttons are appropriate for filters, or when there are several related decisions that the user can apply. 
        <br>
        Active filters are solid buttons with emboldened text, while inactive filters are effectively flat buttons. 
    </p>
</div>