<div class="homepage">
    <div class="text-container">
        <div class="welcome">welcome to the...</div>
        <div class="title">RADISH STYLE GUIDE</div>
        <div class="summary">this style guide was created with the goal of building user trust and making component design easier for developers.</div>
        <button class="solid" routerLink="/colour" routerLinkActive="active">Get Started</button> 
        <!-- the button should bring the user to an important starting page - perhaps voice/brand? -->
    </div>
</div>
