<div class="alert-container">
    <h1>Alert</h1>
    <p>
        Alerts provide feedback for user actions. They often communicate a message with a level of severity attached to it.
        <br>
        They grab the user's attention to provide important information.
    </p>
    <h3>Standard Alerts</h3>
    <p>
        Standard alerts are used within the context of the application.
        <br>
        <br>
        They can be found within the content area or within a component.
        <br>
        <br>
        Alerts don't typically follow the colour palette of the application - and are meant to attract the user's eye by looking out of place.
    </p>
    <div class="standards-demo">
        <div class="standard-content-container">
            <div class="error">
                ERROR
            </div>
            <p>Reserved for errors, malfunctions, or critical issues.</p>
            <div class="warning">
                WARNING
            </div>
            <p>Used when an action requires attention but might not cause errors.</p>
            <div class="success">
                SUCCESS
            </div>
            <p>Used to provide a static success message</p>
            <div class="info">
                INFO
            </div>
            <p>Provides info to users. Should not be overused to replace regular content</p>
            <br>
        </div>
    </div>
    <p>
        Alert bodies can include tooltips, headers, bodies, or more
        <br>
        Alerts may even be formatted similarly to cards - however they should most often be small and not take over other components.
    </p>

    <h3>App-Level Alerts</h3>
    <p>
        App-level alerts are used in the global context of the application.
        <br>
        They are placed at the very top of all content and navigation.
    </p>
    <div class="standards-demo">
        <div class="standard-content-container">
            <div class="system-danger">
                <div class="alert-message">DANGER</div>
            </div>
            <app-navbar></app-navbar>
            <div class="system-warning">
                <div class="alert-message">WARNING</div>
            </div>
            <app-navbar></app-navbar>
            <div class="system-info">
                <div class="alert-message">INFO</div>
            </div>
            <app-navbar></app-navbar>
        </div>
    </div>

    <h3>Typography</h3>
    <p>
        Alerts text should be minimal. Ideally, the standalone alerts should be no more than a few words. App-level alerts may be a sentence.
    </p>
    <div class="layout-examples">
        <div class="good-container">
            <div class="good">
                <div class="error">
                    ERROR - Input invalid (missing name)
                </div>
            </div>
            <p><b style="color:rgb(0, 170, 0)">DO:</b> Short messages in alerts</p>
        </div>
        <div class="bad-container">
            <div class="bad">
                <div class="warning">
                    WARNING - You are submitting an object without an image, it will be difficult for users to identify your product!
                    Please include an image in your submission, preferably one that is high resolution.
                </div>
            </div>
            <p><b style="color:rgb(211, 0, 0)">DON'T:</b> Long message, difficult for users to read, blocks other content</p>
        </div>
    </div>

    <h3>Size</h3>
    <p>
        Alerts should draw the user's eye without blocking the remainder of the page. This means that alerts should be small and concise (see typography)
    </p>

    <h3>Placement</h3>
    <p>
        Standalone alerts may be included in small popup modals, or integrated within the page.
        <br>
        <br>
        While app-level alerts are found at the top of the viewport (often above/below the navbar), but may also be included within modals.
    </p>

    <button class="solid" (click)="openModal()">
        <strong>Click for alert!</strong>
    </button>
</div>