.alert-container {
    display:flex;
    flex-direction:column;
    margin-left:5rem;
    width:50%;
    height:max-content;
    position:absolute;
    padding-bottom:5rem;
}

.standards-demo {
    border: 0.1rem solid var(--color-option-2);
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.standard-content-container {
    display:flex;
    flex-direction:column;
    width:80%;
    height:80%;
    align-self:center;
}

.error {
    width:100%;
    background-color:#FF41551f;
    margin-top:2rem;
    align-self:center;
    border: 0.25rem solid #FF41554d;
    color: #FF4155;
    border-radius:1rem;
    display:flex;
    align-items: center;
    padding:1rem;
}

.warning {
    width:100%;
    background-color:#F3A8001f;
    margin-top:2rem;
    align-self:center;
    border: 0.25rem solid #F3A8004d;
    color: #F3A800;
    border-radius:1rem;
    display:flex;
    align-items: center;
    padding:1rem;
}

.success {
    width:100%;
    background-color:#1BC6AC1f;
    margin-top:2rem;
    align-self:center;
    border: 0.25rem solid #1BC6AC4d;
    color: #1BC6AC;
    border-radius:1rem;
    display:flex;
    align-items: center;
    padding:1rem;
}

.info {
    width:100%;
    background-color:#5471B61f;
    margin-top:2rem;
    align-self:center;
    border: 0.25rem solid #5471B64d;
    color: #5471B6;
    border-radius:1rem;
    display:flex;
    align-items: center;
    padding:1rem;
}

.system-danger {
    width:100%;
    margin-top:2rem;
    align-self:center;
    background-color: #FF4155;
    display:flex;
    padding:1rem;
    text-align:center;
    color:white;
}

.system-warning {
    width:100%;
    margin-top:2rem;
    align-self:center;
    background-color: #F3A800;
    display:flex;
    align-items: center;
    padding:1rem;
    color:white;
}

.system-info {
    width:100%;
    margin-top:2rem;
    align-self:center;
    background-color: #5471B6;
    display:flex;
    align-items: center;
    padding:1rem;
    color:white;
}

.nav-dummy {
    width:100%;
    align-self:center;
    background-color: #a4a4a4;
    display:flex;
    align-items: center;
    padding:1rem;
    padding-top:2rem;
    padding-bottom:2rem;
    color:white;
}