<div class="colour-page-container">
    <h1>Colours</h1>
    <p>
        The colours we choose on our site reflect the brand image to users.
        <br>
        The colours used for components may change depending on whether we are using a dark or light theme.
        <br>
        <br>
        Colours should display elements with sufficient contrast. WCAG (Web Content Accessibility Guidelines)
        describe a ratio of 4.5:1 for saturation of text against dark surfaces. This means we should use unsaturated colours
        in dark themes, and saturated colours for light themes.
        <br>
        <br>
        <a href="https://coolors.co/contrast-checker">This</a> is a useful site for checking whether
        colour contrast is accessible.
    </p>
    <h3>Brand Colours</h3>
    <p>
        Shown below are the Radish brand colours.
        <br>
        <br>
        They may be used throughout the site.
    </p>

    <div class="palette-container">
        <div class="colour-container" style="background-color:#FE2E7D">
            <h2 style="color:white; bottom: 0; margin: 0; margin-left: 1rem; margin-top: 1rem;">
                Rose
                <br>
                #FE2E7D
            </h2>
        </div>
        <div class="colour-container" style="background-color:#019468">
            <h2 style="color:white; bottom: 0; margin: 0; margin-left: 1rem; margin-top: 1rem">
                Sea Green
                <br>
                #019468
            </h2>
        </div>
    </div>
    <h3>Background Colours</h3>
    <p>
        This is used as the background on all of our pages.
        <br>
        <br>
        These colours may also be used in component construction.
    </p>
    <div class="palette-container">
        <div class="colour-container" style="background-color:#FFFFFF; border:solid 1px #181818">
            <h2 style="color:black; bottom: 0; margin: 0; margin-left: 1rem; margin-top: 1rem;">
                White
                <br>
                #FFFFFF
                <br>
                (Light Mode)
            </h2>
        </div>
        <div class="colour-container" style="background-color:#181818; border-top:solid 1px white; border-right:solid 1px white; border-bottom:solid 1px white;">
            <h2 style="color:white; bottom: 0; margin: 0; margin-left: 1rem; margin-top: 1rem;">
                Eerie Black
                <br>
                #181818
                <br>
                (Dark Mode)
            </h2>
        </div>
        <div class="colour-container" style="background-color:transparent">
        </div>
    </div>
    <h3>Functional Colours</h3>
    <p>
        These colours are used for most components and elements.
        <br>
        <br>
        Shown below are the functional colours.
    </p>
    <div class="tonal-container">
        <div class="tone">
            <div class="shade" style="background-color:#343434">

            </div>
            <p style="text-align:center">
                #343434
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#818181">

            </div>
            <p style="text-align:center">
                #818181
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#CBCBCB">

            </div>
            <p style="text-align:center">
                #CBCBCB
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#DDDDDD">

            </div>
            <p style="text-align:center">
                #DDDDDD
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#F2F2F2">

            </div>
            <p style="text-align:center">
                #F2F2F2
            </p>
        </div>
    </div>
    <h3>Accent Colours</h3>
    <p>
        These colours are used to draw attention to other elements or complement other colours.
    </p>
    <div class="tonal-container">
        <div class="tone">
            <div class="shade" style="background-color:#1BC6AC">

            </div>
            <p style="text-align:center">
                #1BC6AC
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#F3A800">

            </div>
            <p style="text-align:center">
                #F3A800
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FF4155">

            </div>
            <p style="text-align:center">
                #FF4155
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#34497A">

            </div>
            <p style="text-align:center">
                #34497A
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>