<div class="colour-page-container">
    <h1>Colours</h1>
    <p>
        The colours we choose on our site reflect the brand image to users.
        <br>
        The shades change depending on whether we are using a dark or light theme, but the hues should remain familial.
    </p>
    <h3>Theme Colours</h3>
    <p>
        Theme colours should display elements with sufficient contrast. WCAG (Web Content Accessibility Guidelines)
        describe a ratio of 4.5:1 for saturation of text against dark surfaces. This means we should use unsaturated colours
        in dark themes, and saturated colours for light themes.
        <br>
        <br>
        Shown below are the Radish brand colours.
    </p>

    <div class="palette-container">
        <div class="colour-container" style="background-color:#FE2E7D">
            <h2 style="color:white; bottom: 0; margin: 0; margin-left: 1rem; margin-top: 1rem;">
                Rose
                <br>
                #FE2E7D
            </h2>
        </div>
        <div class="colour-container" style="background-color:#019468">
            <h2 style="color:white; bottom: 0; margin: 0; margin-left: 1rem; margin-top: 1rem">
                Sea Green
                <br>
                #019468
            </h2>
        </div>
    </div>

    <p> 
        We base our primary and secondary colours off of these.
    </p>
    <h3>Primary Colours</h3>
    <p>
        The primary colour is displayed most frequently across components and screens.
        <br>
        <br>
        Shown below is a tonal palette for the rose colour.
    </p>

    <div class="tonal-container">
        <div class="tone">
            <div class="shade" style="background-color:#FF2E7E">

            </div>
            <p style="text-align:center">
                900
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FF498F">

            </div>
            <p style="text-align:center">
                800
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FF639F">

            </div>
            <p style="text-align:center">
                700
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FF7DAF">

            </div>
            <p style="text-align:center">
                600
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FF97BF">

            </div>
            <p style="text-align:center">
                500
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FFB1CF">

            </div>
            <p style="text-align:center">
                400
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FFCBDF">

            </div>
            <p style="text-align:center">
                300
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FFE5EF">

            </div>
            <p style="text-align:center">
                200
            </p>
        </div>
        <div class="tone">
            <div class="shade" style="background-color:#FFE5EF">
            </div>
            <p style="text-align:center">
                100
            </p>
        </div>
        <div class="tone">
            <div class="shade">

            </div>
            <p style="text-align:center">
                50
            </p>
        </div>
    </div>

    <h3>Secondary Colours</h3>
    <p>
        The size of a line should be <b>40-60% of the screen width</b> for optimal readability.
        Any more would make guiding the reader's eye to a new line confusing.
        Any less might make the text seem long and difficult to track.
        <br>
        <br>
        Each line should contain between <b>45-85 characters</b> - font size should be scaled to maintain this ratio.
    </p>
    <h3>Spacing</h3>
    <p>
        <b>Tracking (Letter-spacing):</b> The horizontal white space between letters in a word.
        The ideal tracking for most text is approximately 12% (0.12).
        <br>
        <br>
        <b>Line spacing:</b> The vertical space between two lines of text. The ideal space is approximately
        130-150% of the height of the line.
    </p>
    <h3>Font Pairings</h3>
    <p>When/where/how to pair fonts together??</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>