<div class="typography-container">
    <h1>Typography</h1>
    <p>
        Typography is extremely important for communicating the Radish brand to users.
        Using the same fonts and styles in expected ways builds user trust. Typography is also
        important for readability. Our priority is to have an application that is easy for users to read.
    </p>
    <h3>Font</h3>
    <p>some info on what font is composed of (typeface, style, weight, size)</p>
    <h3>Serifs?</h3>
    <p>Where to use serifs</p>
    <h3>Line Sizing</h3>
    <p>How many characters per line?</p>
    <h3>Spacing</h3>
    <p>How much space between characters/words/lines</p>
    <h3>Font Pairings</h3>
    <p>When/where/how to pair fonts together??</p>
</div>