<div class="typography-container">
    <h1>Typography</h1>
    <p>
        Typography is extremely important for communicating the Radish brand to users.
        Using the same fonts and styles in expected ways builds user trust. Typography is also
        important for readability. Our priority is to have an application that is easy for users to read.
    </p>
    <h3>Font</h3>
    <p>
        Font is composed of typeface, style, weight, and size.
        <br>
        <br>
        <b>Typeface:</b> The style/look of the text (what we typically think of as font)
        <br>
        <b>Style:</b> Is the font italicized? Underlined?
        <br>
        <b>Weight:</b> How heavy/bold is the text?
        <br>
        <b>Size:</b> How big is the text?
        <br>
        <br>
        Include an example of Radish text and visual examples of what these attributes are.
    </p>
    <h3>Serifs</h3>
    <p>
        Serif fonts are typically used for titles and short strings of information.
        Serifs have a stylistic and reputable feel when used in applications.
        <br>
        <br>
        Sans-serif fonts are professional and more readable than serif fonts.
        Sans-serif is better used as paragraph text and for applications where users require a simplistic UI.
    </p>
    <h3>Line Sizing</h3>
    <p>
        The size of a line should be <b>40-60% of the screen width</b> for optimal readability.
        Any more would make guiding the reader's eye to a new line confusing.
        Any less might make the text seem long and difficult to track.
        <br>
        <br>
        Each line should contain between <b>45-85 characters</b> - font size should be scaled to maintain this ratio.
    </p>
    <h3>Spacing</h3>
    <p>
        <b>Tracking (Letter-spacing):</b> The horizontal white space between letters in a word.
        The ideal tracking for most text is approximately 12% (0.12).
        <br>
        <br>
        <b>Line spacing:</b> The vertical space between two lines of text. The ideal space is approximately
        130-150% of the height of the line.
    </p>
    <h3>Font Pairings</h3>
    <p>When/where/how to pair fonts together??</p>
</div>