.navigation-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-option-1);
    width:20rem;
    overflow:scroll;
    height:100%;
}

.list-element {
    padding:1rem;
    font: 1rem;
    text-decoration:none;
    color:var(--text-color);
}

.list-element:hover {
    background-color: var(--color-option-2);
}

.special-topic {
    padding:1rem;
    font: 1rem;
    text-decoration:none;
    color:var(--text-color);
}

.special-topic:hover {
    background-color:var(--color-option-2);
}

hr {
    border: 1px solid var(--color-option-2);
    display:block;
    width: 90%;
    height: 1px;
    margin-top:1rem;
    margin-bottom:1rem;
}