<div class="navigation-container">
	<a routerLink="/colour" routerLinkActive="active" class="special-topic">Colour Palettes</a>
	<a routerLink="/typography" routerLinkActive="active" class="special-topic">Typography</a>
	<a routerLink="/spacing" routerLinkActive="active" class="special-topic">Spacing</a>
	<a class="special-topic">Responsiveness</a>
	<a routerLink="/voice" routerLinkActive="active" class="special-topic">Voice</a>
	<hr>
	<a routerLink="/accordion" routerLinkActive="active" class="list-element">Accordion</a>
	<a routerLink="/alert" routerLinkActive="active" class="list-element">Alert</a>
	<a routerLink="/button" routerLinkActive="active" class="list-element">Buttons</a>
	<a routerLink="/breadcrumbs" routerLinkActive="active" class="list-element">Breadcrumbs</a>
	<a routerLink="/card" routerLinkActive="active" class="list-element">Card</a>
	<a routerLink="/carousel" routerLinkActive="active" class="list-element">Carousel</a>
	<a routerLink="/charts-graphs" routerLinkActive="active" class="list-element">Charts/Graphs</a>
	<a routerLink="/data-table" routerLinkActive="active" class="list-element">Data Table</a>
	<a routerLink="/date-picker" routerLinkActive="active" class="list-element">Date Picker</a>
	<a routerLink="/dropdown" routerLinkActive="active" class="list-element">Dropdown</a>
	<a routerLink="/file-upload" routerLinkActive="active" class="list-element">File Upload</a>
	<a routerLink="/form" routerLinkActive="active" class="list-element">Form</a>
	<a routerLink="/images" routerLinkActive="active" class="list-element">Images</a>
	<a routerLink="/inputs" routerLinkActive="active" class="list-element">Inputs</a>
	<a routerLink="/login" routerLinkActive="active" class="list-element">Login Page</a>
	<a routerLink="/modal" routerLinkActive="active" class="list-element">Modal</a>
	<a routerLink="/navigation" routerLinkActive="active" class="list-element">Navigation Bar/Vertical Nav</a>
	<a routerLink="/pagination" routerLinkActive="active" class="list-element">Pagination</a>
	<a routerLink="/pills-badges-tags" routerLinkActive="active" class="list-element">Pills/Badges/Tags</a>
	<a routerLink="/placeholder" routerLinkActive="active" class="list-element">Placeholder</a>
	<a routerLink="/range-slider" routerLinkActive="active" class="list-element">Range Slider</a>
	<a routerLink="/radio-checkbox-toggle" routerLinkActive="active" class="list-element">Radio Buttons/Checkboxes/Toggle Switches</a>
	<a routerLink="/search-bar" routerLinkActive="active" class="list-element">Search Bar</a>
	<a routerLink="/spinner" routerLinkActive="active" class="list-element">Spinner</a>
	<a routerLink="/tooltip" routerLinkActive="active" class="list-element">Tooltip/Popover</a>
</div>