.navigation-container {
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    width:20rem;
    position:fixed;
    margin-top:4rem;
    overflow:scroll;
    height:100%;
}

.list-element {
    padding:1rem;
    font: 1rem;
    text-decoration:none;
    color:black;
}

.list-element:hover {
    background-color:#CBCBCB;
}