<div class="navigation-container">
	<a routerLink="/colour" routerLinkActive="active" class="special-topic">Colour Palettes</a>
	<a routerLink="/typography" routerLinkActive="active" class="special-topic">Typography</a>
	<a class="special-topic">Spacing</a>
	<a class="special-topic">Responsiveness</a>
	<hr>
	<a routerLink="/accordion" routerLinkActive="active" class="list-element">Accordion</a>
	<a class="list-element">Alert</a>
	<a routerLink="/button" routerLinkActive="active" class="list-element">Buttons</a>
	<a class="list-element">Breadcrumbs</a>
	<a class="list-element">Card</a>
	<a class="list-element">Carousel</a>
	<a class="list-element">Charts/Graphs</a>
	<a class="list-element">Data Table</a>
	<a class="list-element">Date Picker</a>
	<a class="list-element">Dropdown</a>
	<a class="list-element">File Upload</a>
	<a class="list-element">Form</a>
	<a class="list-element">Inputs</a>
	<a class="list-element">Login Page</a>
	<a class="list-element">Modal</a>
	<a class="list-element">Navigation Bar/Vertical Nav</a>
	<a class="list-element">Pagination</a>
	<a class="list-element">Pills/Badges/Tags</a>
	<a class="list-element">Placeholder</a>
	<a class="list-element">Range Slider</a>
	<a class="list-element">Radio Buttons/Checkboxes/Toggle Switches</a>
	<a class="list-element">Search Bar</a>
	<a class="list-element">Spinner</a>
	<a class="list-element">Tooltip/Popover</a>
</div>