.navigation-container {
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    width:20rem;
    overflow:scroll;
    height:100%;
}

.list-element {
    padding:1rem;
    font: 1rem;
    text-decoration:none;
    color:black;
}

.list-element:hover {
    background-color:#CBCBCB;
}

.special-topic {
    padding:1rem;
    font: 1rem;
    text-decoration:none;
    color:black;
}

.special-topic:hover {
    background-color:#CBCBCB;
}

hr {
    border: 1px solid #929292;
    display:block;
    width: 90%;
    height: 1px;
    margin-top:1rem;
    margin-bottom:1rem;
}