html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    color: var(--text-color);
}
h2 {
    color: var(--text-color);
}
h3 {
    color: var(--text-color);
}
h4 {
    color: var(--text-color);
}
p {
    color: var(--text-color);
}

/* This is the original theme of the app */
:root {
    --background-color: #FFFFFF;
    --color-option-1: #FFDAE9;
    --color-option-2: #F2A2B6;
    --color-option-3: #f4a261;
    --color-option-4: #e76f51;
    --text-color: black;
    --button-background: var(--color-option-3);
    --nav-bar: linear-gradient(90deg, #FFDAE9 0%, #CAE7DE 30%, #FFDAE9 70%, #CAE7DE 100%);

    /* 
    Rename colours so that designers can reference this guide and 
    reuse colour variables instead of putting in random hex codes 

    Possible colours needed:
    - 
    */
}