html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    color: var(--text-color);
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size:3rem;
}
h2 {
    color: var(--text-color);
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size:2.5rem;
}
h3 {
    color: var(--text-color);
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size:2rem;
}
h4 {
    color: var(--text-color);
    font-family: mr-eaves-xl-modern, sans-serif;
}
p {
    color: var(--text-color);
    font-family: mr-eaves-xl-modern, sans-serif;
    font-size:1.5rem;
    margin:0.5rem;
}

/* This is the original theme of the app */
:root {
    --background-color: #FFFFFF;
    --inverse-background: #181818;
    --color-option-1: #F2F2F2;
    --color-option-2: #DDDDDD;
    --color-option-3: #CBCBCB;
    --color-option-4: #818181;
    --color-option-5: #343434;
    --text-color: black;
    --nav-bar: linear-gradient(90deg, #FFDAE9 0%, #CAE7DE 30%, #FFDAE9 70%, #CAE7DE 100%);
    --accent1: #1BC6AC;
    --accent2: #F3A800;
    --accent3: #FF4155;
    --accent4: #5471B6;
    --accent5: #34497A;

    /* 
    Rename colours so that designers can reference this guide and 
    reuse colour variables instead of putting in random hex codes 

    Possible colours needed:
    - 
    */
}