<div class="breadcrumbs-container">
    <h1>Breadcrumbs</h1>
    <p>
        Breadcrumbs are used to show a linked tree system to users.
    </p>
    <h3>Demo</h3>
    <div class="card">
        <div class="breadcrumbs">
            <div class="crumb">one</div>
            >
            <div class="crumb">two</div>
            >
            <div class="crumb">three</div>
        </div>
    </div>

    <p>
        The above component indicates that one is a set containing two, and two is a set that contains three
    </p>

    <img class="set-theory" src="../../../../assets/set-visual.jpg">


</div>