<div class="search-bar-container">
    <h1>Search Bar</h1>
    <p>
        Search bars are used to filter components for users.
    </p>
    <h3>Demo</h3>
    <p>Main page search bar:</p>
    <input type="text" placeholder="Search for products" class="search-bar-main">
    <br>
    <br>
    <p>Embedded component search bar (appears on many mesclun components):</p>
    <input type="text" placeholder="Search for products" class="search-bar-embed">

    <h3>Typography</h3>
    <p>*A demo would go here*</p>

    <h3>Placement</h3>
    <p>*A demo would go here*</p>
</div>