.search-bar-container {
    display:flex;
    flex-direction:column;
    margin-left:5rem;
    width:50%;
    height:max-content;
    position:absolute;
    padding-bottom:5rem;
}

.search-bar-main {
    padding: 1rem;
    border-radius:1rem;
    width:50%;
    border: 0.2rem solid var(--color-option-2);
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--inverse-background);
}

.search-bar-main::placeholder {
    color: var(--color-option-2);
}

.search-bar-bad {
    padding: 1rem;
    border-radius:1rem;
    width:50%;
    border: 0.2rem solid var(--color-option-2);
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--inverse-background);
}

.search-bar-bad::placeholder {
    color: var(--inverse-background);
}

.search-bar-embed {
    padding: 1rem;
    border-radius:0.25rem;
    width:50%;
    border: 0.1rem solid var(--color-option-2);
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--inverse-background);
}

.search-bar-embed::placeholder {
    color: var(--color-option-2);
}

.layout-examples {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.good {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    width:23rem;
    height:23rem;
    border: 0.1rem solid var(--color-option-1);
    border-bottom: 0.25rem solid rgb(0, 170, 0);
}

.bad {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    width:23rem;
    height:23rem;
    border: 0.1rem solid var(--color-option-1);
    border-bottom: 0.25rem solid rgb(211, 0, 0);
}

.example-image {
    border-radius:1rem;
    border: 0.1rem solid var(--inverse-background);
    width:100%;
    margin-right:1rem;
}